html {
  font-family: Roboto, sans-serif;
}

h1 {
  font-family: Anton, sans-serif;
}

header {
  background-color: #d0bb44;
}

a {
  text-decoration: none;
  padding: .25em;
  border-radius: 3px;
  background-color: #fff;
  color: #000;
}

a:hover {
  background-color: #000;
  color: #fff;
}

.current {
  background-color: #000;
  color: #fff;
}

.banner-content {
  text-align: center;
}

.absolute {
  top: 6.5em;
}

.sign {
  background-color: #237873;
  border: none;
}

.features {
  background-color: #bcd2c6;
}

.reviews {
  background-color: #d7c55d;
}

footer {
  background-color: #e9eaeb;
}

.cards {
  background-color: #e9eaeb;
  padding: 1em;
  border-radius: 5px;
  margin: .5em;
}
